<h1>The Traveller App!!</h1>

<h3>Blog your own travel adventures!</h3>

<ul>
  <% @places.each do |place| %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
  <% end %>
</ul>

<a href="/places/new">Add a New Place</a>