<h1>Please add a new place</h1>

<form action="/places" method="post">
  <ul>
    <li>
      <label>Place Name:</label>
      <input type="text" name="name">
    </li>
    <li>
      <input type="submit" value="Save Place">
    </li>
  </ul>
</form>

<a href="/places">Back to Places</a>